<!DOCTYPE html>
 <html>
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


    <head>
          <title>Контакти</title>

     </head>

     <body>
        <style>
            body {
                background-color: antiquewhite;
                font-family: Arial, sans-serif;
            }
            h1 {
                color: rgb(48, 46, 46);
                text-align: center;
            }
            h2 {
                color: rgb(48, 46, 46);
                font-size: 16px;
            }
            br {
                color: rgb(48, 46, 46);
            }
        </style>
            <header>
                <h1>Екип</h1>
                <h2> Сайтът е изработен и се поддържа
                    от Аделина Атанасова и Габриела Георгиева.

                </h2>
                <h2>
                    Ученици от Професионална гимназия по компютърно моделиране и комютърни ситеми
                    "Акад.Благовест Сендов".
                </h2>
                <h2>
                    8в клас, Специалност: Програмиране на изкуствен интелект
                </h2>
                <img src="../static/test.png" >

            </header>
    </body>
</html>