{% load static %}
<!DOCTYPE html>
<html lang="bg">
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
          <title>Физика</title>
          <link rel="stylesheet" href="{% static 'stylefizika.css' %}">
<ul>
        {% for comp in competitions %}
            <li>
                <strong>{{ comp.name }}</strong><br>
                Дата: {{ comp.date }}<br>
                Място: {{ comp.location }}
            </li>
        {% endfor %}
    </ul>
     </head>
     <body>
            <header>
                <h1>Физика</h1>
            </header>
    </body>
</html>