
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif; 
    background-color: #f4f4f9; 
    color: #333;
    line-height: 1.6;
    padding: 20px;
}


header {
    text-align: center;
    margin-bottom: 40px;
}


h1 {
    font-size: 48px;
    color: hsl(194, 39%, 49%);
    border-bottom: 3px solid hsl(194, 39%, 49%); 
    display: inline-block;
    padding-bottom: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase; 
}


.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content-box {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    font-size: 18px;
}


a {
    color:hsl(194, 39%, 49%) ;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: hsl(194, 39%, 49%); 
}


footer {
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    background-color: #333;
    color: #fff;
}


footer p {
    font-size: 16px;
}
